<h1>Welcome#index</h1>
<p>Me acha aqui ->  app/views/welcome/index.html.erb</p>
 
<%= line_chart [
  {name: "Series A", data: series_a},
  {name: "Series B", data: series_b}
] %>
 
<%= hello_world %>
